footer {
  background-color: #272727;
  padding: 30px;
}

footer li > p {
  color: #939393;
}

footer #location {
  color: #e96656;
  font-size: 30px;
  text-align: center;
}

footer #phone {
  color: #34d293;
  font-size: 30px;
  text-align: center;
}
footer #mail {
  color: #3ab0e2;
  font-size: 30px;
  text-align: center;
}

footer i.social {
  color: #939393;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.copyright {
  font-size: 15px;
  margin-right: 30px;
  color: #939393;
}
