$navbar-height: 60px;

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss';

header .navbar {
  background-color: #FFF;
}

header .navbar-default .navbar-nav > li > a {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #2D2F30;
}

header .navbar-default .navbar-nav > li > a:hover {
  color: #fc1b2a;
}

#logo {
  padding: 10px;
}

.columns {
  width: 500px;
}

footer {
  background-color: #202d47;
  padding: 30px;
}

footer .nav > li > a {
  color: #737377;
}

footer .icons {
  color: #FFF;
  font-size: 30px;
  margin-bottom: 40px;
  float: left;
}

.copyright {
  font-size: 10px;
}

.book_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.image_container {
	width: 200px;
}

