<section class="book-list clearfix">
  <div class="container">
    <h1 class="text-center title-section">
      {{ vm.title }}
    </h1>
    <form>
      <input class="input-group" type="text" placeholder="Search" ng-model="query">
    </form>
  </div>
  <div class="book-card pull-left" ng-repeat="book in vm.booksResult | filter:query" style="background-image: url({{ book.img }});">
    <div class="book-details">
      <h2>{{ book.title }}</h2>
      <p class="author-link">
        <a href="#!/author/{{book.author_url}}">{{ book.author }}</a>
      </p>
      <p class="title-detail">Description</p>
      <p class="description-detail">
        {{ book.description }}
      </p>
      <p class="title-detail">Publisher</p>
      <p class="description-detail">
        {{ book.publisher }}
      </p>
      <div ng-show="vm.showCategory">
        <p class="title-detail">Category</p>
        <p class="category-link description-detail">
          <a role="button" href="#!/category/{{book.category_url}}">
            {{ book.category }}
          </a>
        </p>
  </div>
</section>
